<a href="https://colab.research.google.com/github/qummarmahmood/ENGG680_A1_Upload/blob/main/ENGG680_Assignment1_Part4_Qummar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Part 4: More Data Analytics using Pandas
### (18 marks)

In [ ]:
# Select the column 'grade' from the original English grade dataset and print it
print(df_english['grade'])

0     95
1     88
2     87
3     86
4     90
5     88
6     84
7     76
8     80
9     82
10    92
11    91
12    98
13    80
Name: grade, dtype: int64

In [ ]:
# Select the column 'GPA' from the df_studentGrades and print it
print(df_studentGrades['GPA'])

0     92.5
1     91.5
2     86.0
3     86.5
4     89.0
5     83.5
6     82.0
7     84.0
8     89.0
9     90.5
10    90.5
11    89.0
12    92.0
13    82.5
Name: GPA, dtype: float64

In [ ]:
# What is the data type of grade from the English grade dataset?
# (0.5 mark)
print(df_english['grade'].dtype)

# What is the data type of GPA from the merged dataset?
# (0.5 mark)
print(df_studentGrades['GPA'].dtype)

# Is it different? Why?
# (1 mark)

# Yes, the data types can be different.
# The 'grade' column in the English dataset may be stored as an integer (int64),
# while the 'GPA' column is a float (float64) because it was calculated
# as the mean of English and Math grades, which can produce decimal values.

int64
float64

In [ ]:
# Load the student homeroom CSV file into a DataFrame using the following variable name
# (1 mark)
df_homeroom = pd.read_csv("studentHomerooms (1).csv")

In [ ]:
# Print first 5 rows of df_homeroom using the .head method
print(df_homeroom.head())

  firstName  lastName  studentID  homeRoom
0      Emma     Smith      10959       313
1    Sophia  Robinson      75175       311
2      Emma    Taylor      42257       311
3     David  Robinson      55148       313
4   Stephen     Curry      30303       313

In [ ]:
# Merge the studentHomerooms with the merged dataset & name it df_studentInfo. Make sure that the key you are joining on are the same typecast for both datasets.
# Also ensure that there are no redundant columns, and finally display the first few rows.
# Hint: try joining on more than one column to avoid having to drop redundant columns, ie. on=['studentID', '<ColumnA>', '<ColumnB>'] ...
# (5 marks)
# Make sure studentID has the same type in both DataFrames
df_homeroom['studentID'] = df_homeroom['studentID'].astype(str)
df_studentGrades['studentID'] = df_studentGrades['studentID'].astype(str)

# Merge on studentID, firstName, and lastName to avoid duplicates
df_studentInfo = pd.merge(
    df_studentGrades,
    df_homeroom,
    on=['studentID', 'firstName', 'lastName'],
    how='inner'
)

# Display the first few rows
print(df_studentInfo.head())

  firstName  lastName studentID  englishGrade  mathGrade   GPA  homeRoom
0      Emma     Smith     10959          95.0       90.0  92.5       313
1    Sophia  Robinson     75175          88.0       95.0  91.5       311
2      Emma    Taylor     42257          87.0       85.0  86.0       311
3     David  Robinson     55148          86.0       87.0  86.5       313
4   Stephen     Curry     30303          90.0       88.0  89.0       313

In [ ]:
# The code below calculates the mean of each homeroom class.
df_grouped = df_studentInfo.groupby('homeRoom')['GPA'].mean()

# Which homeroom has a higher GPA?
# (1 mark)

# Display the mean GPA for each homeroom
print(df_grouped)

# Determine which homeroom has the higher GPA
higher_homeRoom = df_grouped.idxmax()
print(f"The homeroom with the higher average GPA is {higher_homeRoom}.")

homeRoom
311    88.785714
313    86.714286
Name: GPA, dtype: float64
The homeroom with the higher average GPA is 311.

In [ ]:
# Now let's work with multiple sorts. The .sort_values() method can sort by multiple columns, meaning you can specify a primary column and a secondary column for sorting.
# For example, by=['ColumnA', 'ColumnB'] will first sort by ColumnA and then by ColumnB.
# Create and print a DataFrame, df_studentsGPASorted_homeroom, which is sorted by homeRoom and then by GPA, both in descending order.
# (3 mark)

# Sort by homeRoom (descending) and then by GPA (descending)
df_studentsGPASorted_homeroom = df_studentInfo.sort_values(
    by=['homeRoom', 'GPA'],
    ascending=[False, False]
)

# Display the first few rows
print(df_studentsGPASorted_homeroom.head())

   firstName  lastName studentID  englishGrade  mathGrade   GPA  homeRoom
0       Emma     Smith     10959          95.0       90.0  92.5       313
10      Ryan    Thomas     62137          92.0       89.0  90.5       313
4    Stephen     Curry     30303          90.0       88.0  89.0       313
3      David  Robinson     55148          86.0       87.0  86.5       313
7      James     Jones     87707          76.0       92.0  84.0       313

In [ ]:
# Do you notice a problem with the indices? They are basically meaningless now that we have sorted by homeroom and GPA.

# The code below changes the index of the dataframe so that it is more intuitive.
df_studentsGPASorted_homeroom['studentRank'] = df_studentsGPASorted_homeroom.groupby('homeRoom').cumcount() + 1
df_studentsGPASorted_homeroom['newIndex'] = df_studentsGPASorted_homeroom['homeRoom'].astype(str) + '-' + df_studentsGPASorted_homeroom['studentRank'].astype(str)
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.set_index('newIndex')
df_studentsGPASorted_homeroom = df_studentsGPASorted_homeroom.drop(columns=['studentRank'])

print(df_studentsGPASorted_homeroom)

         firstName  lastName studentID  englishGrade  mathGrade   GPA  \
newIndex
313-1         Emma     Smith     10959          95.0       90.0  92.5
313-2         Ryan    Thomas     62137          92.0       89.0  90.5
313-3      Stephen     Curry     30303          90.0       88.0  89.0
313-4        David  Robinson     55148          86.0       87.0  86.5
313-5        James     Jones     87707          76.0       92.0  84.0
313-6      Matthew     White     25376          80.0       85.0  82.5
313-7      Jasmine     Smith     70385          84.0       80.0  82.0
311-1         Sara       Doe     47991          98.0       86.0  92.0
311-2       Sophia  Robinson     75175          88.0       95.0  91.5
311-3         Anne     Clark     90449          82.0       99.0  90.5
311-4        Sarah     Swift     61026          80.0       98.0  89.0
311-5       Daniel     White     25477          91.0       87.0  89.0
311-6         Emma    Taylor     42257          87.0       85.0  86.0
311-7     Isabella  Thompson     72824          88.0       79.0  83.5

          homeRoom
newIndex
313-1          313
313-2          313
313-3          313
313-4          313
313-5          313
313-6          313
313-7          313
311-1          311
311-2          311
311-3          311
311-4          311
311-5          311
311-6          311
311-7          311

In [ ]:
# Describe what each coding line in the cell above is doing
# (4 marks)
#
# Line 1 creates a new column called 'studentRank' that assigns a ranking to each student within their homeroom group.
# It uses groupby('homeRoom') to group students and .cumcount() + 1 to number them starting from 1.

# Line 2 creates a new column called 'newIndex' by combining the homeroom number and the student's rank into one string (e.g., "311-1").
# The .astype(str) method converts the numeric columns to strings before joining them with a dash ('-').

# Line 3 sets 'newIndex' as the new index for the DataFrame, replacing the default numeric index with a more meaningful one.

# Line 4 removes the temporary 'studentRank' column since its information is now part of the index, keeping the DataFrame clean.

In [ ]:
# Given df_studentsGPASorted_homeroom, please find and print the students with the highest GPA in each homeroom using the .loc method.
# (2 marks)
#
# Since the dataframe is already sorted by GPA (descending) within each homeroom,
# the top student in each homeroom will have the index ending with '-1'.
top_students = df_studentsGPASorted_homeroom.loc[df_studentsGPASorted_homeroom.index.str.endswith('-1')]

print(top_students)

         firstName lastName studentID  englishGrade  mathGrade   GPA  homeRoom
newIndex
313-1         Emma    Smith     10959          95.0       90.0  92.5       313
311-1         Sara      Doe     47991          98.0       86.0  92.0       311